
{% load static %}
<nav class="navbar navbar-dark bg-dark navbar-expand-sm  " >
      <div class="container">
        <a class="navbar-brand fw-bold" href="/">Waldir Merjildo</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                
                
                <li class="nav-item mb-0 h2 d-flex justify-content-center align-items-center ">
                    <a class="mx-2 "  href="https://github.com/MUwaldir" target="_blank"><i class="fa-brands fa-github"></i></a>
                      
                  </li>
                <li class="nav-item mb-0 h2 d-flex justify-content-center align-items-center ">
                  <a class="mx-2 "  href="https://www.linkedin.com/in/waldir-ruben-merjildo-ubaldo-819170215/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a class="btn btn-primary btn-sm " href="{% static 'portfolio/WALDIR_MERJILDO_UBALDO_CV.pdf' %}"  target="_blank">Download CV</a>
                </li>
               
            </ul>
          
        </div>
  </div>
</nav>
